.sidebarChannel:hover>h4{
    color: #fff;
    background-color: #484d52;
}

.sidebarChannel>h4{
    display: flex;
    padding-left: 15px;
    align-items: center;
    background-color: #2f3139;
    color: gray;
    cursor: pointer;
}

.sidebarChannel-hash{
    font-size: 30px;
    padding: 8px;
}